.profile h3{
    margin-bottom: 40px;
    text-align: center;
    font-weight: 700;
}

.form_span{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form_input{
    display: flex;
    flex-direction: column;
    width: 50%;
}